@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    /*background: url("../resources/img/bg.png") fixed;*/
    background-color: #222124;
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    font-size: 12px;
    color: #424242;
    font-family: 'Lato', sans-serif;
}